<!DOCTYPE html>
<html>
<head>
  <title>Bootsy</title>
  <%= stylesheet_link_tag    "bootsy/application", :media => "all" %>
  <%= javascript_include_tag "bootsy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
