<%# encoding: UTF-8 %>

window.Bootsy = (function(){

  var Bootsy = {unsavedChanges: false, editor: false, editorOptions: {}};

  
  Bootsy.progressBar = function(element){
    element.find('div.modal-body').html('<div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>');
  };

  Bootsy.refreshGallery = function(element){
    element.find('a.refresh_btn').show().click();
  };

  Bootsy.openImageGallery = function(editor){
    $('#bootsy_image_gallery').modal('show');
  };

  Bootsy.insertImage = function(image, editor){
    $('#bootsy_image_gallery').modal('hide');
    editor.composer.commands.exec("insertImage", image);
  }

  Bootsy.alertUnsavedChanges = function(){
    if(unsavedChanges){  
      return "<%= I18n.t 'bootsy.js.alert_unsaved' %>"; 
    }
  };

  Bootsy.ready = function(){
    if($('textarea.bootsy_text_area').length > 0){
      element = $('#bootsy_image_gallery');
      
      element.parents('form').after(element);

      element.find('a.refresh_btn').live('click', function(e){
        $(this).hide();
        Bootsy.progressBar(element);
      });

      element.find('a.destroy_btn').click(function(e){
        Bootsy.progressBar(element);
      });

      // element.find('#new_image').live('ajax:before', function(e){
      //   console.log('sending...')
      //   Bootsy.progressBar(element);
      // });

      element.modal({show: false});
      element.on('shown', function(){
        Bootsy.refreshGallery(element);
      });

      Bootsy.editorOptions = {color: true, locale: "<%= I18n.default_locale %>"};

      if($('textarea.bootsy_text_area').attr('data-enable-image') == 'false'){
        Bootsy.editorOptions.image = false;
      }else{
        if($('textarea.bootsy_text_area').attr('data-enable-uploader') == 'false'){
          Bootsy.editorOptions.image = true;
        }else{
          Bootsy.editorOptions.image = false;
          Bootsy.editorOptions.imageUpload = true;
          Bootsy.editorOptions.imageUploadCallback = Bootsy.openImageGallery;
        }
      }

      if($('textarea.bootsy_text_area').attr('data-enable-font-styles') == 'false') Bootsy.editorOptions['font-styles'] = false;
      if($('textarea.bootsy_text_area').attr('data-enable-emphasis') == 'false') Bootsy.editorOptions.emphasis = false;
      if($('textarea.bootsy_text_area').attr('data-enable-lists') == 'false') Bootsy.editorOptions.lists = false;
      if($('textarea.bootsy_text_area').attr('data-enable-html') == 'true') Bootsy.editorOptions.html = true;
      if($('textarea.bootsy_text_area').attr('data-enable-link') == 'false') Bootsy.editorOptions.link = false;
      if($('textarea.bootsy_text_area').attr('data-enable-color') == 'false') Bootsy.editorOptions.color = false;

      Bootsy.editor = $('textarea.bootsy_text_area').wysihtml5(Bootsy.editorOptions).data("wysihtml5").editor;

      element.on('hide', function() {
        Bootsy.editor.currentView.element.focus();
      });

      element.on('click.dismiss.modal', '[data-dismiss="modal"]', function(e) {
        e.stopPropagation();
      });

      element.find('ul.dropdown-menu a.insert').live('click', function(e){
        var imagePrefix = "/"+$(this).attr('data-image-size')+"_";
        if($(this).attr('data-image-size') == 'original'){
          imagePrefix = '/';
        }
        var img = $(this).parents('li.dropdown').find('img');
        var obj = {
          src: img.attr('src').replace("/thumb_", imagePrefix),
          alt: img.attr('alt').replace("Thumb_", "")
        };

        obj.align = $(this).attr('data-position');

        Bootsy.insertImage(obj, Bootsy.editor);
      });

      Bootsy.editor.on("change", function(){
        Bootsy.unsavedChanges = true;
      });

      $('textarea.bootsy_text_area').closest('form').submit(function(e){
        Bootsy.unsavedChanges = false;
        return true;
      });

      // In order to properly work with Twitter Bootstrap 2.1
      $('body').off('click.dropdown touchstart.dropdown.data-api', '.dropdown');
      $('body').on('click.dropdown touchstart.dropdown.data-api', '.dropdown form', function(e){ 
        e.stopPropagation();
      });

      if($('textarea.bootsy_text_area').attr('data-alert-unsaved') != 'false'){
        window.onbeforeunload = Bootsy.alertUnsavedChanges;
      }
    }
  };

  return Bootsy;
}).call(this);

$(Bootsy.ready);