.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.bootsy blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
.bootsy blockquote p:last-child,
.bootsy blockquote ul:last-child,
.bootsy blockquote ol:last-child {
  margin-bottom: 0;
}
.bootsy blockquote footer,
.bootsy blockquote small,
.bootsy blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}
.bootsy blockquote footer:before,
.bootsy blockquote small:before,
.bootsy blockquote .small:before {
  content: '\2014 \00A0';
}
.bootsy .blockquote-reverse,
.bootsy blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0;
}
.bootsy .blockquote-reverse footer:before,
.bootsy blockquote.pull-right footer:before,
.blockquote-reverse small:before,
.bootsy blockquote.pull-right small:before,
.bootsy .blockquote-reverse .small:before,
.bootsy blockquote.pull-right .small:before {
  content: '';
}
.bootsy .blockquote-reverse footer:after,
.bootsy blockquote.pull-right footer:after,
.bootsy .blockquote-reverse small:after,
.bootsy blockquote.pull-right small:after,
.bootsy .blockquote-reverse .small:after,
.bootsy blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
.bootsy blockquote:before,
.bootsy blockquote:after {
  content: "";
}

textarea.bootsy:required:invalid {
  color: inherit;
}

/*Modal Design Styles*/

.bootsy-modal .file-input-name {display: none;}  /*Hide the input file name from showing as it's not needed and ruins design*/

/*Set a min-height on the modal body to prevent jumping up and down of modal when adding content*/
.bootsy-modal .modal-body {
  min-height: 120px;
}

.bootsy-image {
  margin-bottom: 15px;
}

.bootsy-upload-loader {
  display: inline-block;
  padding-right: 5px;
}

.bootsy-gallery-loader {
  display: block;
  margin: 0 auto;
}

/*The below code is needed for capybara to be able to find the input, as it*/
/*does not work*/
.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
  opacity: .01;
}

/* Avoid Boostrap input borders */
body.bootsy_text_area.form-control {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
