<h3>Comments</h3>

<% post.comments.each do |comment| %>
  <%= render 'comments/show', { comment: comment } %>
<% end %>

<hr />

<%= render 'comments/new', { comment: (defined?(comment) ? comment : post.comments.new) } %>
