<div class="page-header">
  <h1>Editing post</h1>
</div>

<%= render 'form' %>

<%= link_to 'Cancel', @post, class: 'btn btn-secondary' %>
<%= link_to 'Destroy', @post, method: :delete, class: 'btn btn-secondary', data: { confirm: 'Are you sure?' } %>
