<div class="page-header">
  <h1>Editing post</h1>
</div>

<%= render 'form' %>

<%= link_to 'Cancel', @post, :class => 'btn' %>
<%= link_to 'Destroy', @post, method: :delete, :class => 'btn', data: { confirm: 'Are you sure?' } %>
