<div class="page-header">
  <h1>Editing article</h1>
</div>

<%= render 'form' %>

<%= link_to 'Cancel', @article, :class => 'btn' %>
<%= link_to 'Destroy', @article, method: :delete, :class => 'btn', data: { confirm: 'Are you sure?' } %>
