<ul>
  <% images.each do |image| %>
    <li>
      <%= image_tag image.image_file.thumb.url %>
      <%= link_to 'Destroy', image, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini destroy_btn' %>
    </li>
  <% end %>
</ul>

<br />

<h1>New image</h1>

<%= render 'bootsy/images/form', {:image => resource.bootsy_images.new } %>