<%= link_to 'Image Gallery', '#bootsy_images', :'data-toggle' => 'modal', :class => 'btn' %>

<div class="modal hide fade" id="bootsy_images">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Images</h3>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>