<div class="modal hide fade" id="bootsy_image_gallery">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2><%= t 'bootsy.image.p' %></h2>
  </div>
  <div class="modal-body">
    <%= refresh_btn resource.bootsy_image_gallery, :images %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t 'bootsy.action.close' %></a>
  </div>
</div>