<div class="modal hide fade bootsy_image_gallery" data-no-turbolink data-bootsy-gallery-id="<%= container.bootsy_image_gallery_id %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t 'bootsy.image.p' %></h3>
    <%= refresh_btn %>
  </div>
  <div class="modal-content">
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
