<div class="modal fade" id="bootsy_image_gallery"  tabindex="-1"
  role="dialog" aria-hidden="true" data-no-turbolink
  data-bootsy-gallery-id="<%= container.bootsy_image_gallery_id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h3 class="modal-title"><%= t 'bootsy.image.p' %></h3>
      </div>

      <div class="modal-body">
        <div class="alert hidden">
          <%= t 'bootsy.no_images_uploaded' %>
        </div>

        <div class="row" id="bootsy-gallery"></div>

        <%= refresh_btn %>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
